@using UploadExcelFile.Models
@model  List<ContactVM>
@{
    ViewBag.Title = "EditById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit file By Batch Id</h2>

@if (Model.Count() > 0)
{
    <hr />
    <table class="table table-bordered table-striped table-responsive tabl">
        <tr>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Email</td>
            <td>Telephone</td>
            <td>Mobile</td>
            <td>CompanyID</td>
        </tr>

        @foreach (ContactVM contact in Model)
        {
            <tr>
                <td>@Html.DisplayFor(contactvm => contact.FirstName)</td> 
                <td>@Html.DisplayFor(contactvm => contact.LastName)</td>
                <td>@Html.DisplayFor(contactvm => contact.Email)</td>
                <td>@Html.DisplayFor(contactvm => contact.Telephone)</td>
                <td>@Html.DisplayFor(contactvm => contact.FirstName)</td>
                <td>@Html.DisplayFor(contactvm => contact.FirstName)</td>
            </tr>

        }
    </table>
}
<form asp-controller="ContactBatch" asp-action="EditById" method="Post" enctype="multipart/form-data">
    <div>
        <input type="submit" value="Update" class="btn btn-block btn-primary" />
    </div>

</form>
