@using UploadExcelFile.Models
@model  List<ContactVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/bootstrap.min.js"></script>


<h3 style="color: red;"><strong>@TempData["Message"]</strong></h3>
@{
    string display = "Valid";

    bool displayImport = true;


}
@if (Model.Count() > 0)
{
    <hr />
    <table class="table table-bordered">
        <tr>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Email</td>
            <td>Telephone</td>
            <td>Mobile</td>
            <td>CompanyID</td>
            <td>Message</td>
        </tr>

        @foreach (ContactVM contact in Model)
        {
            <tr>
                <td>@contact.FirstName</td>
                <td>@contact.LastName</td>
                <td>@contact.Email</td>
                <td>@contact.Telephone</td>
                <td>@contact.Mobile</td>
                <td>@contact.CompanyID</td>
                <td style="color:red">@contact.Message</td>
            </tr>



        }
    </table>



    foreach (ContactVM contact in Model)
    {

        display = contact.Status;
    }

    if (display != "Invalid")
    {
        <button class="btn btn-default">
            @Html.ActionLink("Submit", "CreateContact", "Contacts")
        </button>

        displayImport = false;
    }


}
<form asp-controller="Contacts" asp-action="Index" method="Post" enctype="multipart/form-data">

    @if (displayImport == true)
    {
        <input type="file" name="postedFile" />
        <hr />
        <input type="submit" value="import" class="btn btn-primary" />

    }
    @if (display == "Invalid")
    {
        <h3 style="color:red">Please fill missing field and re-import file</h3>
    }


</form>
<br />
<button class="btn btn-default">
    @Html.ActionLink("View Batches", "Index", "ContactBatch")
</button>

